@model PatientViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">

                <label asp-for="SurName" class="control-label">Sur Name</label>
                <input asp-for="SurName" class="form-control" />
                <span asp-validation-for="SurName" class="text-danger"></span>

                <label asp-for="FirstName" class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>

                <label asp-for="Gender" class="control-label">Gender</label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>

                <label asp-for="DateOfBirth" class="control-label">Date Of Birth</label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>


                <label asp-for="TelephoneNumbers.Home" class="control-label">Home</label>
                <input asp-for="TelephoneNumbers.Home" class="form-control" />
                <span asp-validation-for="TelephoneNumbers.Home" class="text-danger"></span>

                <label asp-for="TelephoneNumbers.Work" class="control-label">Work</label>
                <input asp-for="TelephoneNumbers.Work" class="form-control" />
                <span asp-validation-for="TelephoneNumbers.Work" class="text-danger"></span>

                <label asp-for="TelephoneNumbers.Mobile" class="control-label">Mobile</label>
                <input asp-for="TelephoneNumbers.Mobile" class="form-control" />
                <span asp-validation-for="TelephoneNumbers.Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
